html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app-container {
  margin-inline: 14vw;
}
.app-container > h1 {
  text-align: center;
}
.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 6vw;
}
.posts-item {
  text-align: center;
  background-color: rgb(235, 235, 235);
  width: 100%;
  margin-block-start: 2rem;
  transition: background-color 0.09s ease-in;
}
.posts-item:hover {
  background-color: rgb(120, 212, 248);
  cursor: pointer;
}
.posts-item:active {
  background-color: rgb(103, 185, 218);
}
